name: dry-run Taskfile

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  # make this workflow callable from other workflows
  workflow_call:

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v5

    - name: add Task apt sources
      run: |
        curl 'https://dl.cloudsmith.io/public/task/task/setup.deb.sh' -1sLf | sudo -E bash
    - name: install Task
      run: |
        sudo apt install -y task

    - run: task --dry
      env:
        GTFS_DOWNLOAD_URL: 'https://vbb-gtfs.jannisr.de/2024-06-21.gtfs.zip'
        GTFS_DOWNLOAD_USER_AGENT: derhuerst
